.input-container {
  position: relative;
  width: 100%;
}

.hg-input {
  width: 100%;
  font-size: 18px;
  background: transparent;
  border: none;
  border-bottom: 3px solid var(--color-border);
  outline: none;
  color: var(--color-text);
  &:focus::placeholder {
    color: transparent;
  }
  &:focus-within {
    border-color: var(--color-primary);
  }
}

.visibility-icon {
  cursor: pointer;
  fill: var(--color-border);
  background: transparent;
  height: 100%;
  position: absolute;
  right: 0;
  &:hover {
    fill: var(--color-primary);
  }
}
