@import "../../../index.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto 0 auto;
  padding: 50px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  width: fit-content;
  @include respond-to("small") {
    padding: 5px;
    border: none;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    @include respond-to("small") {
      width: 100%;
    }
  }

  .link {
    cursor: pointer;
    color: var(--color-text);
    font-weight: 600;
    width: fit-content;
    margin: auto;
    &:hover {
      color: var(--color-primary);
    }
  }

  .btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
