@use "../../../scss/breakpoints" as b;

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 30px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  height: calc(100dvh - var(--height-navbar) - var(--height-footer));

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 375px;
    margin: auto;
  }

  @include b.xs-screen {
    border: none;
  }
}

.link {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 600;
  width: fit-content;
  margin: auto;
  &:hover {
    color: var(--color-primary);
  }
}

.notice {
  margin: 0;
  background: var(--color-bg-secondary);
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}
