@use "../../../scss/btn" as btn;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-primary);
  background: var(--color-bg-primary);

  display: flex;
  flex-direction: column;
  min-height: 100vh; // fallback min
  min-height: 100dvh;
  max-height: 100vh; // fallback max
  max-height: 100dvh;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100dvh - var(--height-navbar));
    margin-top: var(--height-navbar);
    overflow-y: auto;
    overflow-x: hidden;
  }

  main.loading div {
    opacity: 0.5;
  }

  .user_acknowledgement_container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 83%);
    z-index: 999;

    .user_acknowledgement {
      display: flex;
      flex-direction: column;
      width: 90%;
      background: black;
      color: antiquewhite;
      padding: 100px 20px;
      border: var(--border);
      border-radius: var(--border-radius);

      .notice {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        svg {
          fill: #33c1ff;
          width: 50px;
        }
        p {
          border-left: 2px solid darkorange;
          padding-left: 10px;
        }
      }

      button {
        @include btn.btn;
        height: 50px;
      }
    }
  }
}
.fade {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
