.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-primary);
  background: var(--color-bg-primary);

  display: flex;
  flex-direction: column;
  min-height: 100vh; // fallback min
  min-height: 100dvh;
  max-height: 100vh; // fallback max
  max-height: 100dvh;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100dvh - var(--height-navbar));
    margin-top: var(--height-navbar);
    overflow-y: auto;
    overflow-x: hidden;
  }

  main.loading div {
    opacity: 0.5;
  }
}
.fade {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
