.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-primary);
  background: var(--color-bg-primary);

  main.loading div {
    opacity: 0.5;
  }
}
.fade {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
