.container {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  .icon {
    height: var(--heigh-input-icon);
    width: var(--width-input-icon);
    fill: var(--color-border);
    padding: var(--padding-input-icon);
  }

  .input {
    height: 3rem;
    width: 100%;
    flex: 1;
    font-size: 1.2rem;
    color: var(--color-text);
    font-family: "Montserrat", sans-serif;
    outline: none;
    background: transparent;
    border: none;
  }

  .visibility-icon {
    cursor: pointer;
    padding: 0.5rem;
    fill: var(--color-border);
    background: transparent;
    height: 3rem;
    width: 3rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    &:hover {
      fill: var(--color-primary);
    }
  }

  &:hover {
    border-color: var(--color-primary);
  }
}
