.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--height-navbar);
  background-color: var(--color-bg-primary);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-border);

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 100%;
    width: 100%;
  }

  .nav-left {
    display: flex;
    height: 100%;
    align-items: center;
    & :first-child {
      padding-left: 0 !important;
    }
  }

  .nav-right {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .nav-link {
    color: var(--color-text);
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--color-primary);
    }
  }

  .nav-menu-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: default;
    gap: 10px;
    padding: 1px;
    top: 100%;
    left: 0px;
    width: 100%;
    background: var(--color-bg-primary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0px 24px 19px 1px black;
    visibility: hidden;
    .nav-link:hover & {
      visibility: visible;
      z-index: 1;
    }
  }

  .hamburger {
    height: 40px;
  }

  .logo {
    height: 50px !important;
  }
}

// .desktop {

//   // @include respond-to("tablet") {
//   //   display: none !important;
//   // }
//   // @include respond-to("desktop") {
//   //   display: block !important;
//   // }
// }

.mobile {
  justify-content: left;
  // @include respond-to("tablet") {
  //   display: block !important;
  // }
  // @include respond-to("desktop") {
  //   display: none !important;
  // }
}
