.fade {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.swiper {
  width: 1120px;
  height: 415px;
  border-radius: var(--border-radius);
  overflow-y: visible !important;
}

.swiper-slide {
  height: fit-content !important;
  width: fit-content !important;
}
