@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --height-navbar: 4rem;
  --height-navbar-icon: 2.25rem;
  --height-footer: 100px;
  --heigh-input-icon: 3rem;
  --width-input-icon: 3rem;
  --padding-input-icon: 0.5rem;
  --border-radius-form-input-icon: 1rem;
  --border-radius-form-input: 1rem;
  --font-size-input-text: 1.2rem;
  --width-page-wrap: 25rem;
  --border-focus-input: 2px solid orange;
  --border-radius: 5px;
  --toastify-toast-min-height: var(--height-navbar);
  --toastify-toast-width: 300px;
  --width-map-page__listing-cards: 745px;
  --color-toggle-light: yellow;
  --color-toggle-dark: rgb(0, 0, 0);
}

.dark {
  --color-primary: #33c1ff;
  --color-bg-primary: #121520;
  --color-bg-secondary: #35363a;
  --color-bg-tertiary: #122b31;
  --color-text: antiquewhite;
  --color-navbar-list-item-icon: #8f8f8f;
  --color-navbar-list-item-name: #8f8f8f;
  --color-btn-text: #000000;
  --color-btn-hover-box-shadow: 0.063rem 0.063rem 1rem 0px #cecece;
  --color-remove-listing-icon: #fff;
  --color-edit-listing-icon: #fff;
  --color-price: #017a52;
  --color-bg-discount: #ba3f3f;
  --color-bg-transparent-btn-div: #35363aa1;
  --box-shadow: 0 0.2rem 0.5rem #000000;
  --color-border: #e3e3e345;
  --color-warning: yellow;
  --color-error: red;
  --color-valid-input-svg: #00ff00;
  --color-outline: aqua;
  --color-map-marker-bg: #8c00ff;
  --color-map-marker-border: aqua;
  --color-map-marker-glyph: lime;
  --color-label: yellow;
}

.light {
  --color-primary: #33c1ff;
  --color-bg-primary: #fff;
  --color-bg-secondary: #e6e6e6;
  --color-bg-tertiary: #008ac659;
  --color-text: #000000;
  --color-navbar-list-item-icon: #000000;
  --color-navbar-list-item-name: #000000;
  --color-btn-text: #000000;
  --color-btn-hover-box-shadow: 0.063rem 0.063rem 1rem 0px #cecece;
  --color-remove-listing-icon: #000000;
  --color-edit-listing-icon: #000000;
  --color-price: #a4ecc2;
  --color-bg-discount: #ffb5b5;
  --color-bg-transparent-btn-div: #ffffffa1;
  --box-shadow: 0 0.2rem 0.6rem #0000003b;
  --color-border: #0000003d;
  --color-warning: red;
  --color-error: yellow;
  --color-valid-input-svg: lime;
  --color-outline: blue;
  --color-label: purple;
}

::-webkit-scrollbar {
  background: var(--color-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg-primary);
  margin: 0;
  box-sizing: border-box;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

.contactLandlordMessageInput {
  /* box-shadow: rgba(0, 0, 0, 0.11); */
  border: none;
  background: var(--color-bg-secondary);
  color: var(--color-text);
  font-size: var(--font-size-input-text);
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 1rem 1.5rem;
  height: 300px;
  border-radius: var(--border-radius-form-input);
}

.primary-btn {
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 0.85rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  background: transparent;
}

.primary-btn:hover {
  background: var(--color-primary);
  border: 1px solid black;
  color: black;
}

.removeListingSvg {
  cursor: pointer;
  fill: var(--color-remove-listing-icon);
  /* position: absolute;
  top: -3%;
  right: -2%; */
}

.editListingPageHeaderContainer,
.createListingPageHeaderContainer {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-text);
  background: var(--color-bg-secondary);
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--color-navbar-list-item-icon);
}

.editListingSvg {
  cursor: pointer;
  fill: var(--color-edit-listing-icon);
  /* position: absolute;
  top: -3.4%;
  right: 20px; */
}

.page-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 0 calc(var(--height-navbar) + 5rem) 0; */
  margin-top: var(--height-navbar);
  background: var(--color-bg-primary);
  color: var(--color-text);
  min-height: calc(100vh - var(--height-navbar));
}
/* @media (min-width: 1024px) {
  .page-wrap {
    width: 100%;
    padding: 10px;
  }
} */

.page-wrap main {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

/* .map-component {
  /* width: calc(100vw - var(--width-map-page__listing-cards) - 20px); */
/* height: 100%; */
/* border-radius: var(--border-radius); */
/* }  */

.map-page-wrap {
  display: flex;
  gap: 5px;
  height: calc(100vh - var(--height-navbar));
  margin-top: var(--height-navbar);
}

.map-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--height-navbar));
}

.map-filters {
  /* height: 3rem; */
  display: flex;
  border-bottom: 1px solid var(--color-border);
  padding: 5px;
  gap: 5px;
}

/* #map-searchbox {
  border-radius: var(--border-radius);
  padding: 0 10px;
  color: var(--color-text);
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  font-size: 1.2rem;
  width: 500px;
  height: 70px;
  border: 1px solid var(--color-primary);
}

#map-searchbox:focus {
  outline: 1px solid var(--color-primary) !important;
} */

.map-page main {
  position: relative;
  display: flex;
  height: calc(100vh - var(--height-navbar));
  overflow: hidden;
}

.map-page-search-results-container {
  color: var(--color-text);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 777px;
  padding: 0;
}

.map-page__listing-cards {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0 10px 10px;
}

.map-page__listing-cards header {
  color: var(--color-text);
  font-size: 24px;
  padding: 0;
}

.map-page__listing-cards p {
  margin: 0;
}

.map-page__listing-cards ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.map-page__listing-cards ul li {
  list-style-type: none;
}

.map-page__listing-cards div {
  height: fit-content;
}

.map-search-box input {
  width: 100%;
  color: var(--color-text);
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  outline: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page__header {
  font-size: 1.5rem;
  padding: 0;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
}

/* .register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin: auto;
} */

.profileFormHeader {
  text-align: center;
}

.signUpNameInputDiv,
.signInEmailInputDiv,
.signUpEmailInputDiv,
.signInPasswordInputDiv,
.signUpPasswordInputDiv {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.emailInput {
  /* margin-bottom: 2rem; */
  color: var(--color-text);
  background: var(--color-bg-secondary) 2.5% center no-repeat;
  border: none;
  flex: 1;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.2rem;
}

.nameInputPersonIcon,
.emailInputEnvelopeIcon,
.passwordInputLockIcon {
  background-color: var(--color-bg-secondary);
  height: var(--heigh-input-icon);
  width: var(--width-input-icon);
  border-top-left-radius: var(--border-radius-form-input-icon);
  border-bottom-left-radius: var(--border-radius-form-input-icon);
  fill: var(--color-text);
  padding: var(--padding-input-icon);
}

.passwordResetButton {
  margin: auto;
}

.nameInput,
.emailInput,
.passwordInput {
  font-size: 1.2rem;
  color: var(--color-text);
  background: var(--color-bg-secondary);
  border: none;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.nameInput,
.emailInput {
  border-top-right-radius: var(--border-radius-form-input);
  border-bottom-right-radius: var(--border-radius-form-input);
}

/* @media (min-width: 1024px) {
  .profileForm {
    width: 60%;
    margin: auto;
  }
} */

.showPassword {
  cursor: pointer;
  padding: 0.5rem;
  fill: var(--color-text);
  background: var(--color-bg-secondary);
  height: 3rem;
  width: 3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  width: fit-content;
  margin: auto;
}

.signInBar,
.signUpBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
  gap: 1rem;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary);
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  background-color: #02ca66;
  color: var(--color-btn-text);
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.registerLink {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/* @media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
} */

/* @media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
} */

.exploreHeading,
.exploreCategoryHeading {
  font-weight: 700;
  color: var(--color-text);
}

.exploreCategoryHeading {
  text-align: center;
}

/* .swiper {
  height: 26rem;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: white !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background: var(--color-primary) !important;
  opacity: 1;
}

.swiper-container {
  min-height: 225px;
  height: 23vw;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--color-primary) !important;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiperSlideImg {
  width: 100%;
  object-fit: cover;
}

.swiperSlideText {
  color: #ffffff;
  width: fit-content;
  font-weight: 600;
  max-width: 100%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  margin: 0;
  border-bottom-right-radius: 1rem;
} */

/* @media (min-width: 1024px) {
  .swiperSlideText {
    font-size: 1.75rem;
  }
} */

.swiperSlidePrice {
  color: #fff;
  font-weight: 600;
  width: fit-content;
  max-width: 100%;
  background-color: var(--color-primary);
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-bottom-right-radius: 1rem;
}

/* @media (min-width: 1024px) {
  .swiperSlidePrice {
    font-size: 1.25rem;
  }
} */

.exploreCategories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listingsMainDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  margin: auto;
}

.listingsCategoryDiv {
  /* background: var(--color-bg-secondary); */
  display: flex;
  gap: 2rem;
}

.exploreCategoryImg {
  /* min-height: 115px; */
  /* height: 15vw; */
  width: 100%;
  /* border-radius: 1.5rem; */
  object-fit: cover;
  margin: 0 auto;
}

.exploreCategoryName {
  font-weight: 500;
  text-align: center;
  color: var(--color-text);
  padding: 1rem;
}

.category {
  display: flex;
  flex-direction: column;
}

.categoriesDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoryListings {
  margin-block-start: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listingItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
  position: relative;
  /* gap: 0.5rem; */
  width: 100%;
  background: var(--color-bg-secondary);
}

.listing-card__btns {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  padding: 5px;
  right: 0.5rem;
  top: 0.5rem;
  background: var(--color-bg-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.listing-card__btn {
  background: none;
  border: none;
  border-radius: var(--border-radius);
}

.listing-card__btn:hover {
  background: var(--color-primary);
}

.listing-card__btn svg {
  fill: var(--color-text);
}

.listing-card__btn:hover svg {
  fill: var(--color-black);
}

.listingHighlightsDiv {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.listingsList {
  padding: 0;
}

.listing-cards-swiper-wrap {
  /* border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow); */
}

.listing-cards-swiper-wrap-label {
  display: flex;
  justify-content: center;
}

.listingSwiper {
  border-radius: var(--border-radius);
}

.listing-card__link {
  display: contents;
}

.listing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 360px;
  margin: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border);
}

.listing-card img {
  /* width: 100%; */
  height: 15rem;
  /* object-fit: cover; */
  object-position: center;
}
/* @media (min-width: 1024px) {
  .categoryListingImg {
    width: 19%;
    height: 217px;
  }
} */

.listing-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.5rem;
  color: var(--color-text);
}

.listing-card__lister {
  font-size: 0.8rem;
}

.categoryListingLocation {
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.8;
  margin: 0;
}

.listingItemAddress {
  /* font-weight: 600; */
  /* font-size: 1.25rem; */
  margin: 0;
}

.listingItemPrice {
  /* margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem; */
  color: var(--color-primary);
  /* margin-bottom: 0; */
  display: flex;
  align-items: center;
}

.listing-card .body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px;
  margin: auto;
  width: 100%;
  color: var(--color-text);
}

.listing-card .features {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.categoryListingInfoIcon {
  background-color: red;
  -webkit-mask: url("../assets/svg/bedIcon.svg") no-repeat center;
  mask: url("../assets/svg/bedIcon.svg") no-repeat center;
}

.listingInfoSvg {
  fill: var(--color-text);
}

.loadMore {
  cursor: pointer;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-btn-text);
  font-weight: 600;
  border-radius: var(--border-radius);
  opacity: 0.7;
  margin-top: 2rem;
}

/* .listingDetails {
} */

.listing-share-btn,
#close-listing-overlay-btn {
  cursor: pointer;
  z-index: 2;
  background-color: var(--color-bg-transparent-btn-div);
  border-radius: var(--border-radius);
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-share-btn svg,
#close-listing-overlay-btn svg {
  fill: var(--color-primary);
}

.listing-share-btn:hover svg,
#close-listing-overlay-btn:hover svg {
  fill: var(--color-label);
}

.listingName {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  color: var(--color-text);
}

.listingLocation {
  margin-top: 0;
  font-weight: 600;
  padding: 0 1rem;

  color: var(--color-text);
}

.formDiscountPriceLabel,
.formListingPriceLabel {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  width: -moz-fit-content;
  font-size: 1rem;
}

.forSaleOrRent {
  padding: 0.25rem 0.5rem;
  background-color: #00cc66;
  color: var(--color-btn-text);
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;
}

.listingsHighlightsDiv {
  display: flex;
  gap: 1rem;
  background: var(--color-bg-discount);
}

.listingDetailsList {
  padding: 0;
  list-style-type: none;
  padding: 0 1rem;
}

.listingDetailsList li {
  margin: 0.3rem 0;
  font-weight: 500;
  opacity: 0.8;
  color: var(--color-text);
}

.listingLocationTitle {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-text);
}

.leafletContainer {
  width: 100%;
  height: 25rem;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

/* @media (min-width: 1024px) {
  .leafletContainer {
    height: 400px;
  }
} */

.listing-share-link-copied {
  position: absolute;
  top: 107%;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: 1px solid var(--color-border);
  background: var(--color-bg-secondary);
  color: var(--color-primary);
  box-shadow: var(--box-shadow);
}

.contactListingName {
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.contactListingLocation {
  margin-top: 0.25rem;
  font-weight: 600;
}

.contactLandlordPageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactLandlordName,
.contactLandlordListingName {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0;
  color: var(--color-text);
}

.message-form {
  width: 70%;
  margin: auto;
}

.messageDiv {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.messageLabel {
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.profile-wrap {
  width: 1116px;
  margin: auto;
}

.profile {
  display: flex;
  flex-direction: row !important;
}

@media (max-width: 1023px) {
  .profile {
    flex-direction: row;
  }
}

.profile__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.profile__header div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.profile__btn,
.sign-out-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  width: fit-content;
  background-color: var(--color-bg-primary);
  color: var(--color-text);
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow); */
}

.profile__btn svg,
.sign-out-btn svg {
  height: 100%;
  fill: var(--color-text);
}

.sign-out-btn {
  margin-left: auto;
}

.profile__btn:hover,
.profile__btn:hover svg,
.sign-out-btn:hover,
.sign-out-btn:hover svg {
  fill: black;
  color: black;
  background: var(--color-primary);
}

.personal-details-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 20px;
}

.btnRound {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-btn-text);
  background-color: var(--color-primary);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.profile section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background: var(--color-bg-tertiary); */
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius);
  /* border: 1px solid var(--color-border); */
}

.profile section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.my-listings-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 730px;
}

header {
  color: var(--color-primary);
  background: var(--color-bg-secondary);
}

.profile section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileDetailsText {
  margin: 1rem 0 2rem 0;
}

.personalDetailsText {
  font-weight: 600;
}

.changePersonalDetails {
  margin: 1rem auto;
}

button:hover {
  /* box-shadow: var(--color-btn-hover-box-shadow); */
  cursor: pointer;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  /* font-weight: 600; */
  width: 100%;
}
.profileNameActive {
  background-color: #71ff211a !important;
}

/* .profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
} */

.profileEmailActive {
  background-color: #71ff211a !important;
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.listingText {
  margin-top: 3rem;
  font-weight: 600;
  color: var(--color-text);
  text-align: center;
}

.listingsList {
  padding: 0;
}

.profileDetailsText {
  font-size: 1rem;
  display: block;
  color: var(--color-text);
}

.formatted-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin: auto;
}

.formatted-input__value-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background: var(--color-bg-secondary);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.formatted-input__value {
  border: none;
  outline: none;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 100%;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  font-size: 1.3rem;
}

.formatted-input__value-wrap.invalid {
  border-color: var(--color-error);
}

.formatted-input__value__svg {
  height: 2rem;
  fill: var(--color-valid-input-svg);
  margin: 0 1rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
}

.text {
  color: var(--color-text);
}

.card {
  display: flex;
  flex-direction: column;
  width: 23rem;
  background: var(--color-bg-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.card .body {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  gap: 10px;
}

.card .body p {
  margin: 0;
}

.card header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: cursive;
  margin: 0;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.cardImage {
  width: 100%;
  border-radius: var(--border-radius);
}

.cardImageContainer {
  width: 100%;
}

.autocompleteAddressContainer {
  width: 100%;
}

.swiper__img {
  height: 100%;
  cursor: pointer;
}

.discountPercent {
  color: var(--color-text);
  padding-left: 1rem;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(
    rgb(0, 94, 255),
    rgba(255, 255, 255, 0.4)
  ) !important;
  color: white !important;
}

.createListingButton {
  margin: 2rem auto;
}

.deals {
  margin-bottom: 10rem;
}

.offerBadge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: var(--border-radius);
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}

.mapCard {
  height: 25rem;
  width: 100%;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.mapContainer {
  height: 100%;
  width: 100%;
  /* margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem; */
}

.mapInfoWindow {
  background: var(--color-bg-primary);
}

.mapListingItem {
  list-style: none;
}

.mapListingItemImg {
  width: 100%;
  max-height: 10rem;
}

.gm-style .gm-style-iw-c {
  padding: 1rem;
}

.gm-style .gm-style-iw-d {
  overflow: hidden;
}

.listing-form__input-file__btn__icon {
  height: 4rem;
  cursor: pointer;
  display: block;
}

.imagePreviewAddBtnContainer {
  display: flex;
  align-items: center;
}

.listing-form__input-file__btn {
  background: none;
}

.listing-form__input-file__btn:focus svg {
  fill: var(--color-primary);
}

.listing-form__input-file__btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listing-form__input-file__btn-wrap label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* .listing-form__input-file__btn-wrap p {
  padding: 2rem;
} */

.iframe {
  width: 100vw;
  height: 100vh;
}

.iframeWrap {
  height: 100vh;
  width: 100vw;
}

.sliderLoaderDiv {
  display: flex;
  height: 25rem;
  width: 100%;
}

.mapLoaderDiv {
  display: flex;
  height: 25rem;
  width: 100%;
  max-width: 55.625rem;
  /* background: var(--color-bg-secondary); */
}

.sliderLoaderSvg {
  /* height: 320px;
  width: 390px; */
}

.loaderPathContainer path {
  fill: var(--color-primary) !important;
  animation: fadeIn 1.5s ease-in infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mapLoaderSvg {
  /* height: auto;
  width: 100%; */
}

.mapLoaderSvg g {
  fill: var(--color-primary) !important;
  animation: fadeIn 1.5s ease-in infinite alternate;
}

/* Main Page Transition */
/* .fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
} */
