.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 50px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: auto;
}

.link {
  cursor: pointer;
  color: var(--color-text);
  font-weight: 600;
  width: fit-content;
  margin: auto;
  &:hover {
    color: var(--color-primary);
  }
}
