@import "../../../scss/functions.scss";
@import "../../../scss/breakpoints.module.scss";

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  max-width: var(--max-width-content);
  margin: auto;

  @include sm-screen {
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    font-size: 24px;
    gap: 5px;
    width: 100%;
    align-items: center;
    padding: 10px;
    justify-content: center;
    color: var(--color-text);
    background: transparent;
    border-bottom: var(--border);
  }

  #personal-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 498px;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 10px;
  }

  .btns-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    width: 233px;
    background-color: var(--color-bg-primary);
    color: var(--color-text);
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);

    svg {
      height: 100%;
      fill: var(--color-text);
    }

    &:hover {
      color: var(--color-primary);
      svg {
        fill: var(--color-primary);
      }
      border-color: var(--color-primary);
    }
  }

  .listings-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    min-width: 320px;
  }

  .listings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 650px;
    justify-content: center;
  }
}
