// Screen Sizing
$mobile-max-width: 480px;
$tablet-min-width: 481px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;

$breakpoints: (
  "mobile": (
    max-width: $mobile-max-width,
  ),
  "tablet": (
    max-width: $tablet-max-width,
  ),
  "desktop": (
    min-width: $desktop-min-width,
  ),
) !default;

:export {
  mobile-max-width: $mobile-max-width;
  tablet-min-width: $tablet-min-width;
  tablet-max-width: $tablet-max-width;
  desktop-min-width: $desktop-min-width;
}
